<div class="container">
    <div class="row repo-container" infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
  <div *ngFor="let result of results"  class="col s12 m4">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ result.node.name}}
            <span class="new badge red"
                  data-badge-caption="Issues">
                    {{ result.node.issues.totalCount}}
            </span>
         </span>
          <p>{{ result.node.description}}</p>
        </div>
        <div class="card-action">
          <a [href]="result.node.url">Check it out!</a>
          <a *ngFor="let lang of result.node.languages.edges"
             class="waves-effect waves-light btn-small">{{ lang.node.name }}
          </a>
        </div>
      </div>
  </div>
  </div>
</div>


