nav {
    background-color:grey;
}
nav a{
    background-color: gray;
}
.container {
    width: 60%;
}
.coverPage {
    height: 100vh;
}

.coverPage h1 {
    margin-top: 10%;
    margin-bottom: 20%;
}