<div class="container">
    <div class="row  flex repo-container" infiniteScroll
    [infiniteScrollDistance]="1.5"
    [infiniteScrollThrottle]="50"
    [infiniteScrollDisabled]="false"
    (scrolled)="onScroll()">
  <div *ngFor="let result of results"  class="col s12 m4">
    <div class="card blue-grey darken-1">
      <a [href]="result.node.url" target="_blank" >
        <div class="card-content white-text">
          <span class="card-title">{{ result.node.name}}
            <span class="chip">
                <i class="material-icons">{{getIssueIcon(result.node.issues.totalCount)}}</i>
                {{result.node.issues.totalCount}} Issues
            </span>
         </span>
          <div class="repo-description">{{ result.node.description}} </div>
        </div>
        <div class="card-action">
          <span *ngFor="let lang of result.node.languages.edges"
                class="repo-lang">
              {{ lang.node.name }} /
          </span>
        </div>
      </a>
      </div>
  </div>
  </div>
</div>


