<div class="container">
  <div class="row  flex repo-container" infiniteScroll [infiniteScrollDistance]="1.5" [infiniteScrollThrottle]="50"
    [infiniteScrollDisabled]="false" (scrolled)="onScroll()">
    <div *ngFor="let result of results" class="col s12 m4">
      <span nz-tooltip nzTitle="{{result.node.issues.totalCount}} open issues">
        <div class="card blue-grey darken-1">

          <div class="card-content white-text">
            <a [href]="result.node.url" target="_blank">
              <span class="card-title">{{ result.node.name}}
              </span>
            </a>
            <button *ngIf="!checkFavRepoExist(result.node.id)" nz-button (click)="tryToAddFav(result.node.id, result.node.name,result.node.url)"
              nzType="default" nzShape="circle" class="addFavbutton"><i class="anticon anticon-star-o"></i>
            </button>
            <button *ngIf="checkFavRepoExist(result.node.id)" nz-button nzType="default" nzShape="circle" class="addFavbutton"><i
                class="anticon anticon-star"></i>
            </button>

            <div class="repo-description">{{ result.node.description}} </div>
          </div>
          <div class="card-action">
            <span *ngFor="let lang of result.node.languages.edges" class="repo-lang">
              {{ lang.node.name }} /
            </span>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>