<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="#!" class="breadcrumb">HOME</a>
      <a href="#!" class="breadcrumb">Find-repos</a>
      <div class="user-info">
        <nz-dropdown *ngIf="auth.isAuthenticated()">
          <a nz-dropdown>
            <nz-avatar nzIcon="anticon anticon-user" [nzSrc]="profile.picture"></nz-avatar> <i class="anticon anticon-down"></i>
          </a>

          <ul nz-menu>
            <li nz-menu-item (click)="showModal()"><i class="anticon anticon-heart"></i> My Favorite Repos</li>
            <li nz-menu-item (click)="auth.logout()">Log Out</li>
            <li nz-menu-item (click)="log('3rd menu item')">3rd menu item</li>
          </ul>
        </nz-dropdown>

        <a *ngIf="auth.isAuthenticated()"> {{ profile?.nickname }}&nbsp;&nbsp;</a>
        <a class="change-auth-status" *ngIf="!auth.isAuthenticated()" (click)="auth.login('/open-source-projects')">Log
          In</a>
      </div>
    </div>
  </div>
</nav>

<!-- Modal -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <h3 [ngStyle]="{'margin': '16px 0' }">Small Size</h3>
  <nz-list [nzDataSource]="data" nzBordered nzSize="small" [nzHeader]="'Header'" [nzFooter]="'Footer'" [nzRenderItem]="item">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="item"></nz-list-item>
    </ng-template>
  </nz-list>
</nz-modal>