
nav {
    background-color: rgb(29, 39,59);
}
nav a{
    background-color:  rgb(29, 39,59);
}

.user-info {
    float: right;
    padding-right: 15%;
}

.removeFavButton {
    float: right;
    margin: 0 0 auto auto;
}

.anticon-frown {
    font-size: 3rem;
}

.emptyMessage p {
    font-size: 1.5rem;
}