<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a routerLink="/home" class="breadcrumb">HOME</a>
      <a class="breadcrumb">Find-repos</a>
      <div class="user-info">
        <nz-dropdown *ngIf="auth.isAuthenticated()">
          <a nz-dropdown>
            <nz-avatar nzIcon="anticon anticon-user" [nzSrc]="this.profile?.picture"></nz-avatar> <i class="anticon anticon-down"></i>
          </a>
          <ul nz-menu>
            <li nz-menu-item (click)="showModal()"><i class="anticon anticon-heart"></i> My Favorite Repos</li>
            <li nz-menu-item (click)="auth.logout()">Log Out</li>
            <li nz-menu-item (click)="this.findOrCreate('tianyasasai')">test Add User</li>

          </ul>
        </nz-dropdown>

        <a *ngIf="auth.isAuthenticated()"> {{ profile?.nickname }}&nbsp;&nbsp;</a>
        <a class="change-auth-status" *ngIf="!auth.isAuthenticated()" (click)="auth.login('/open-source-projects')">Log
          In</a>
      </div>
    </div>
  </div>
</nav>

<!-- Modal -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Bookmarked Repositories" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

  <nz-list [nzDataSource]="data" nzBordered nzSize="small" [nzRenderItem]="item">

    <nz-list-item *ngFor="let repo of favoriteRepos">
      <i class="anticon anticon-heart"></i><a href={{repo.url}} target="_blank">{{ " " + repo.name}}</a>
    </nz-list-item>
  </nz-list>
</nz-modal>