
.container {
    width: 60%;
}
.coverPage {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    color: aliceblue;
}


.user-info {
    float: right;
    padding-right: 15%;
}

.user-profile {
    /* margin-right: 5%; */
}
.coverPage h1 {
    margin-top: 10%;
    margin-bottom: 20%;
}

.coverPage h3 {
    font-family: 'Nunito', sans-serif;
}
