<app-navbar></app-navbar>
<div class="container text-center">
  <div class="coverPage ">
    <h1>
      Start your contribution today by finding the suitable open-source project
      to work on
    </h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHC7DUT95PTaPvL77QyNkBaTgDGVlIzcgfYNYWFP9M7Tk0hz5I">
    <h3>Pick your favorite from carefully selected github repositories that are beginner-friendly and with high
      interactivity
    </h3>
  </div>
  <nz-divider></nz-divider>
  <app-community-repos></app-community-repos>
</div>

<app-repo-list></app-repo-list>
<nz-back-top></nz-back-top>